/* Base Colors */

$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;

/* Font Colors */

$base-font-color: $dark-gray;
$action-color: $blue;

/* Border Colors */

$base-border-color: lighten($dark-gray, 10%);

/* Background Colors */

$base-background-color: #fff;


/* Social Colors */
$facebook: #3b5998;
$twitter: #55acee;
