table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
    max-width: 100%;
    font-feature-settings: "kern", "liga", "pnum";
}

th {
    border-bottom: 1px solid lighten($base-border-color, 50%);
    font-weight: 600;
    padding: $small-spacing 0;
    text-align: left;
}

td {
    border-bottom: 1px solid lighten($base-border-color, 50%);
    padding: $small-spacing 0;
}
tr,
td,
th{
	vertical-align: middle;
}
